@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "National Park", sans-serif;
}

body {
  background-color: rgb(248, 245, 245);
  padding: 1em 5em;
}

header > h1 {
  font-weight: 400;
  font-size: 3em;
}
hr{
    margin: 1em 0;
    border: 1px solid #dfdfdf;
}
.fieldsetHeader > h2 {
  font-size: 1.2em;
  font-weight: 700;
}

/* Formulario */
fieldset{
    border: none;
    padding: 1em 0;
}
label {
  display: block;
  font-size: 1em;
  font-weight: 300;
  color: #212121;
  padding: .2em;
}
input,
select {
  width: 100%;
  background-color: rgb(217 217 217 / 15%);
  height: 3em;
  font-size: 1em;
  padding: 0.5em;

  border: 1px #212121 solid;
  border-radius: .5em;

  transition: .3s all;
}
select{
    border: 1px black solid;
}
input:focus,
select:focus{
    
    border: 3px solid #555;
}

/* Layout */

.container {
  display: flex;
}
.container > .fieldsetHeader {
  width: 15em;
}
.fieldsetHeader > p{
    font-style: italic;
    font-weight: 400;
    color: #9d9393;

    padding: 1em 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 0.5em;
}
.halfInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.halfInputContainer > input,
.halfInputContainer > select {
  width: 50%;
}
.half {
  width: 100%;
}

/* Botones */

.btnContainer {
    display: flex;
    justify-content: end; 
    gap: 2em;
}
.btn{
    border: none;
    border-radius: .3em;
    padding: .5em ;
    width: 7em;
    font-size: 1.2em;

    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: transparent;
    font-weight: 900;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .2s all;
}
.cancel{
    color: #C4C4C4;
}
.update{
    background-color: #4991CB;
    color: whitesmoke;
}
.cancel:hover{
    background-color: whitesmoke;
    border: 1px solid #212121;
    
    color: #464646;
}
.update:hover{
    border: 1px solid #212121; 
    color: #212121;
    background-color: #7eaed6;
}

/* Media Queries (agrupadas y optimizadas) */

@media (max-width:844px){
    .container{
        flex-direction: column;
    }
    .container > .fieldsetHeader{
        display: flex;
        flex-direction: column;
        width:  100%; 
 
        align-items: flex-end;
        font-weight: 900;

    }
}

@media(max-width:844px){
    body{
        padding: 1em 2em;
    }
}

@media (max-width:596px){
    .halfInputContainer{
        flex-direction: column;
    }
}