@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  min-height: 100vh;
  background-color: rgb(236, 233, 233);
  align-content: center;
}

.containerForm {
 width: 30em;

  margin-left: auto;
  margin-right: auto;
  border: 0.3em solid #d3d5da;

  border-radius: 0.9em;
}

.containerForm > form {
  padding: 2em;
  background-color: rgb(255, 255, 255);
  border-top: 0.5em solid #613df3;
  border-radius: 0.5em;
}

.formRow {
  border: none;
}
.formRow > .formInputContainer {
  display: inline-block;
  width: calc(50% - 2px);
}

.formRow > .formInputContainer:last-child {
  padding-left: 0.5em;
}

.formInputContainer {
  padding: 0.8em;
}

.formInputContainer > label {
  display: block;
  padding-bottom: 0.2em;
  color: #212121;
}

.formInput {
  width: 100%;
  padding: 1em;
  border: 1px solid #d3d5da;
  border-radius: 2px;
}

.formBtnContainer {
  padding: 1em;
  text-align: center;
}
.formBtn {
  width: 50%;
  border: none;
  background-color: #613df3;
  color: whitesmoke;
  font-weight: 600;
  border-radius: 1em;
  padding: 0.7em;
  font-size: 1.2em;
  cursor: pointer;
}
