*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    width: 100%;
    
}

.containerForm{
    background-color: red;
    width: 50%;
}