body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: .7em;

    text-align: center;
}

caption {
    caption-side: top;
    margin-bottom: 1em;
}

caption p {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

caption a {
    color: #4b0082;
    text-decoration: underline;
}

th {
    background-color: rgb(235, 235, 235);
}

td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

tr:nth-child(odd) td {
    background-color: rgb(245, 245, 245);
}

