@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #2b2a2a;
}
a{
    text-decoration: none;
}
p{
    font-weight: 400;
    line-height: 1.5em;
    font-size: .9em;    
    font-style: italic;
}


/* inicio header */

.header{
    padding: 3em;
    background-color: #eadcd1;
    position: relative;
    z-index: 2;
}
.headerLogo > h1{
    font-weight:900 ;    
}
.headerLogo, .navBar, .navLink{
    display: inline-block;
}
.headerLogo{
    float: left;
}
.navBar{
    float: right;
}

.headerLogo, .navBar{
    position: relative;
    bottom: 1em;
}

.navBar{
    position: relative;
    bottom: .5em;
}

.navLink {
    padding:  0 2em;
}
.navLink a{
    color: #2b2a2a;
    text-transform: uppercase;
    cursor: pointer;
}

.navLink a:hover{
    transition: .5s all;

    color: #000000;
}

/* fin header */

/* inicio hero  */

.hero{
    min-height: 90vh;
    position: relative;
    background-color: #F2EFEA;
}
.hero>svg{
    position: absolute;
    height: auto;
    bottom: 0;
}
.heroContainer {

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;

   max-width: 30vw;

   z-index: 1;
}  

.heroContainer > h1{
    padding: 1em 0;
}
.heroContainer > h1{
    font-weight: 600;
    line-height: 1em;
    font-size: 3em;
    text-transform: uppercase;
}


.heroBtnContainer{
    padding: 3em 0;
}
.btn{
    border: .2em solid black;
    cursor: pointer;
    padding: .7em 3em;
    font-weight: 400;
    background-color: transparent;
}

.btn:hover{
    transition: .3s all;
    background-color: #2b2a2a;
    color: #EADCD1;

}

/* fin hero */

/* inicio engagin section */

.engaging{
    background-color: whitesmoke;
    text-align: center;
    padding: 2em;
    position: relative;
    height: 40vh;
}

.engagingContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:40vw;
}

.engagingContainer > p{
    padding: 1em;
}

/* engaging sectio fin */

/* introduction section inicio */


.introduction{
    padding: 2em;
    position: relative;
    height: 40vh;
    background-color: #F2EFEA;
}
.introductionImgContainer{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40vw; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.introductionImgContainer > img, .introductionText{ 
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align: middle;
}
.introductionText{
    max-width: 60%;
    padding: 2em;
} 

.introductionText > p{
    padding: 1em 0;
}

/* introduction section fin */

.services{
    background-color: whitesmoke;
    
    padding: 3em;
    position: relative;
    height: 50vh;
  
}

.serviceContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:40vw;
}
.serviceCard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.service{
    display: inline-block;
    position: relative;
    height: 100%;
    vertical-align: middle;
    
    padding: 1em;
}
.service>figcaption{
    text-align: center;
}


.card{
    width: 200px;
    height: 200px;
    background-color: #2b2a2a;
}

.socialProof{
    background-color: #F2EFEA;
}
.extras{
    background-color: #F2EFEA;
}

.footer{
    background-color: #EADCD1;
}